@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-in-out {
    opacity: 1;
    animation: fade 5s;
}
@keyframes fade {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }